@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

/*
// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma
*/

@import "../node_modules/bulma/bulma";
html{
    background-color: rgb(0, 0, 0);
}
.hero-body{
background-color: black;
font-family:'poppins';
}
.footer{
  background: black;
      
}
.card-image{
    border: 1px solid black;
    border-radius: 10px;
}
//This is used to control the animation speed and its duration
.card-image{
    transition: transform .5s;
    width:50px;
    height:50px;
    margin:0 auto;
    }

    //This property is used to change the properties of the image on hover
.card-image:hover{
    transform: scale(1.08);
    }

.navbar-item{
    transition: transform .5s;
    margin: 5px;
    font-family:'poppins';
}
.navbar-item:hover{
    transform: scale(1.05);
    color: aqua;
    }

    
    /* Animation */
.typing-effect{
    //display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    //margin: 0 auto;
      animation: typing 2s steps(40) 2s forwards;

    }
 @keyframes typing{
      from{width: 0;}
      to{width: 100%;}
    }
